<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herbal Leaves Classification</title>
</head>
<body>
    <img src="/static/img/shape.png" alt="shape" class="shape">
    <div class="round"><img src="/static/img/leaves2.png" alt="leaves2" class="contain-2"></div>
    <div class="main">
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/dataset">Dataset</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </nav> 
    </div>
    <section class="about-us">
        
        <div class="centered-about">
            <div class="title-team">
                <h2>"Our Team"</h2>
            </div>
            <div class="parent-div">
                <div class="hero">
                    <div class="rounded-image"><img src="/static/img/photo.png" alt="people1" class="people"></div>
                    <h2>Muhammad Arvanda</h2>
                    <div class="social-media">
                        <a href="https://github.com/arvandza" target="_blank"><i class="fa-brands fa-github"></i></i></a>
                        <a href="https://instagram.com/arvandza" target="_blank"><i class="fa-brands fa-instagram"></i></i></a>
                        <a href="https://www.linkedin.com/in/muhammad-arvanda-4a2698225/" target="_blank"><i class="fa-brands fa-linkedin"></i></i></a>
                    </div>
                </div>
                <div class="hero">
                    <div class="rounded-image"><img src="/static/img/photo-2.jpeg" alt="people1" class="people"></div>
                    <h2>Dinda Puspa Aprilia</h2>
                    <div class="social-media">
                        <a href="https://github.com/dindapuspaaprilia" target="_blank"><i class="fa-brands fa-github"></i></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></i></a>
                        <a href="https://www.linkedin.com/in/dinda-puspa-aprilia-43a118226/" target="_blank"><i class="fa-brands fa-linkedin"></i></i></a>
                    </div>
                </div>
                <div class="hero">
                    <div class="rounded-image"><img src="/static/img/photo-3.jpg" alt="people1" class="people"></div>
                    <h2>Prayogi Putra</h2>
                    <div class="social-media">
                        <a href="https://github.com/pdeluhula" target="_blank"><i class="fa-brands fa-github"></i></i></a>
                        <a href="https://instagram.com/pdeluhula" target="_blank"><i class="fa-brands fa-instagram"></i></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>        
</body>
</html>